body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 12px;
}

h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}