<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <title>fathinafiff</title>
</head>

<body>
  <img src='static/images/fathin_pp.jpg' />
  <h1>@fathinafiff</h1>
  <p>Data enthusiast and love coding👋</p>
  <h2>Socials</h2>
  <ul>
    <li><a href="https://youtube.com/@tinapyp" />Youtube (@tinapyp)</li>
    <li><a href="https://github.com/fathinafiff" />Github (@fathinafiff)</li>
    <li><a href="https://dev.to/fathinafiff" />Dev (@fathinafiff)</li>
    <li><a href="https://www.instagram.com/fathinafiff/" />Instagram (@fathinafiff)</li>
  </ul>
</body>

</html>