<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Page</title>
</head>
<body>
    <form method="post" action="/robot">
    <p>Are you made of metal? <input id="metal" name="metal" type="radio" value="yes">yes</p>
    <p><input id="metal" name="metal" type="radio" value="no">no</p>
    <p>What is infinity + 1 = <input id="infinity" name="number" type="text"></p>
    <label for="food">Which is yout favorite food?</label>
        <select id="food" name="food">
        <option value="human food">Human Food</option>
        <option value="oil">Oil</option>
    </select>
    <br></br>
    <button id="submit">I'm not robot</button>
    </form>
</body>
</html>